<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
        data-bs-target="#modal-already-in-team{{ team.id }}">
  Join team
</button>

<!-- Modal -->
<div class="modal fade" id="modal-already-in-team{{ team.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body text-wrap">
            You are already a member of {{ user.team.name }}
        </div>


      </div>
    </div>
  </div>
</div>
<!-- endModal -->