{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
    <div class="button">
      <a href="{% url "task:task-create" project_pk=project_id team_pk=team_id %}"
         class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"
         aria-haspopup="true" aria-expanded="false">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        New Task
      </a>

    </div>
  </div>
  <div class="row">


    <div class="col-12 col-xl-8">
      <div class="row"></div>

      {% for task in tasks %}
        <div class="col-12 col-xxl-8 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <h2 class="fs-5 fw-bold mb-0"><strong>{{ task.name }} tasks</strong> ({{ task.task_type }})</h2>
            </div>
            <div class="card-body">
              <!-- Project 1 -->

              {% for task_point in task.task_points.all %}
                <div class="row mb-4">
                  <div class="col-auto">
                    <svg class="icon icon-sm text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                      <path fill-rule="evenodd"
                            d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                            clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <div class="col">
                    <div class="progress-wrapper">
                      <div class="progress-info">
                        <div class="h6 mb-0"><input type="checkbox" id="checkbox"
                                                    {% if task_point.is_done %}checked{% endif %}
                                                    disabled> {{ task_point.name }}</div>
                        <div class="fw-bold text-gray-500"><a
                            href="{% url "task:mark-task-point" project_pk=project_id team_pk=team_id pk=task_point.id %}"
                            class="btn btn-secondary">{% if task_point.is_done %} Unmark as done {% else %} Mark as
                          done {% endif %}</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#modal-default{{ task.id }}">
                Create task point
              </button>

              <!-- Modal -->
              <div class="modal fade" id="modal-default{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Create task point</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                      <form method="post"
                            action="{% url "task:create-task-point" project_pk=project_id team_pk=team_id pk=task.id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                          {{ form.as_p }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                      </form>


                    </div>
                  </div>
                </div>
              </div>
              <!-- endModal -->

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
